In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
raw_df=pd.read_csv('data/car_data_final.csv')

In [3]:
raw_df.head()

,url,city,price,year,company,model,condition,cylinders,fuel,mileage,title_status,transmission,drive,size,type,paint_color
0,https://sfbay.craigslist.org/pen/cto/d/burling...,SF bay area,8300,2002.0,subaru,wrx,excellent,6 cylinders,gas,136000.0,clean,manual,fwd,mid-size,sedan,silver
1,https://sfbay.craigslist.org/eby/cto/d/newark-...,SF bay area,6900,2008.0,bmw,x5 3.0si,NaN,NaN,gas,170226.0,clean,automatic,NaN,NaN,NaN,NaN
2,https://sfbay.craigslist.org/sby/cto/d/san-jos...,SF bay area,4700,2008.0,toyota,scion,excellent,4 cylinders,gas,137155.0,clean,automatic,NaN,NaN,NaN,NaN
3,https://sfbay.craigslist.org/nby/cto/d/bodega-...,SF bay area,6000,1984.0,mercedes-benz,benz 300d turbo,excellent,5 cylinders,diesel,231460.0,clean,automatic,rwd,NaN,sedan,NaN
4,https://sfbay.craigslist.org/eby/ctd/d/sacrame...,SF bay area,11994,2012.0,bmw,x3,NaN,NaN,gas,112181.0,clean,automatic,NaN,NaN,SUV,NaN

In [4]:
df=raw_df.copy()

In [6]:
df.drop(['url'], axis=1, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237347 entries, 0 to 237346
Data columns (total 15 columns):
city            237347 non-null object
price           237347 non-null int64
year            236994 non-null float64
company         223550 non-null object
model           231221 non-null object
condition       130062 non-null object
cylinders       139521 non-null object
fuel            236520 non-null object
mileage         191022 non-null float64
title_status    236114 non-null object
transmission    235256 non-null object
drive           164950 non-null object
size            77199 non-null object
type            176577 non-null object
paint_color     161160 non-null object
dtypes: float64(2), int64(1), object(12)
memory usage: 27.2+ MB